# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

dotnetPeopleApi/bin 
dotnetPeopleApi/obj 
 
cors-server/.angular
cors-server/node_modules

angular-cors/.angular
angular-cors/node_modules

httpGet/.angular
httpGet/node_modules

httpClient/.angular
httpClient/node_modules

httpPost/.angular
httpPost/node_modules
httpPost/fakeServer/node_modules

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

