<h1>Angular CORS Test App</h1>
<!-- 
<table class="table" border="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>IsRegistered</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of peoples">
        <td>{{ people.id }}</td>
        <td>{{ people.name }}</td>
        <td>{{ people.IsRegistered }}</td>
      </tr>
    </tbody>
  </table>
-->
<hr/>
<table class="table" border="0">
  <thead>
    <tr>
      <th>date</th>
      <th>temperatureC</th>
      <th>temperatureF</th>
      <th>summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weathers">
      <td>{{ weather.date }}</td>
      <td>{{ weather.temperatureC }}</td>
      <td>{{ weather.temperatureF }}</td>
      <td>{{ weather.summary }}</td>      
    </tr>
  </tbody>
</table>

<pre>{{ weathers | json }}</pre> 